In [142]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import pickle

In [143]:
df = pd.read_excel('Laporan kendaraan.xlsx', header=None)

In [144]:
# Menghapus Index ke-0
df = df.drop([0, 1, 2])

# Menghapus Index
df = df.reset_index(drop=True)

df.columns = ['kode wilayah', 'Kode Aset', 'Kendaraan', 'pemilik', 'nopol', 'warna', 'perolehan', 'harga beli','tanggal beli', 'harga taksir', 'tahun taksir', 'pajak 1 tahunan', 'pajak 5 tahunan', 'keterangan']

# Merubah missing value menjadi 0
def_status = 0
df.fillna(def_status, inplace=True)

In [145]:
#Selection Data
df = df.loc[:, ["Kode Aset", "Kendaraan", "tanggal beli", "harga taksir"]]

In [146]:
#Transformasi Data
# MENGUBAH TYPE DATA TANGGAL BELI DARI OBJECT MENJADI DATETIME
df['tanggal beli'] = pd.to_datetime(df['tanggal beli'])

# MENGHITUNG USIA KENDARAAN
today = pd.to_datetime('today')
df['usia kendaraan'] = today.year - df['tanggal beli'].dt.year

for index, row in df.iterrows():
  if row['usia kendaraan'] < 20:
    df.loc[index, 'Usia Kendaraan'] = 1  # Produktif
  else:
    df.loc[index, 'Usia Kendaraan'] = 2  # Tidak Produktif

for index, row in df.iterrows():
  if row['harga taksir'] > 0:
    df.loc[index, 'Harga'] = 1  # Produktif
  else:
    df.loc[index, 'Harga'] = 3  # Tidak Produktif

In [147]:
#Melakukan Proses Kmeans
X = df[['Usia Kendaraan', 'Harga']].values

In [148]:
#Praproses
scaler = StandardScaler()
X = scaler.fit_transform(X)

#Kmeans
kmeans = KMeans(n_clusters=3, random_state=128) #supaya model model memilih centroid secara random
kmeans.fit(X)

KMeans(n_clusters=3, random_state=128)

In [149]:
pickle.dump(kmeans, open("modelKendaraan.pkl", "wb"))

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0])

,Kode Aset,Kendaraan,tanggal beli,harga taksir,usia kendaraan,Usia Kendaraan,Harga,Cluster
0,02.01.01.01.001,Kijang Innova,2012-01-01,210000000,10,1.0,1.0,0
1,02.01.01.01.001,Kijang Innova,2012-01-01,190000000,10,1.0,1.0,0
2,02.01.01.01.001,Kijang Innova,2012-01-01,170000000,10,1.0,1.0,0
3,02.01.01.01.001,Kijang Innova,2012-01-01,150000000,10,1.0,1.0,0
4,02.01.01.01.001,Kijang Innova,2012-01-01,130000000,10,1.0,1.0,0
5,02.01.01.01.002,Kijang Innova,2016-10-04,325000000,6,1.0,1.0,0
6,02.01.01.01.002,Kijang Innova,2016-10-04,305000000,6,1.0,1.0,0
7,02.01.01.01.002,Kijang Innova,2016-10-04,285000000,6,1.0,1.0,0
8,02.01.01.01.002,Kijang Innova,2016-10-04,265000000,6,1.0,1.0,0
9,02.01.01.01.002,Kijang Innova,2016-10-04,245000000,6,1.0,1.0,0
10,02.01.01.01.002,Kijang Innova,2016-10-04,225000000,6,1.0,1.0,0
11,02.01.01.02.001,Avanza,2011-01-31,105000000,11,1.0,1.0,0
12,02.01.01.02.001,Avanza,2011-01-31,95000000,11,1.0,1.0,0
13,02.01.01.02.001,Avanza,2011-01-31,85000000,11,1.0,1.0,0
14,02.01.01.02.001,Avanza,2011-01-31,75000000,11,1.0,1.0,0
15,02.01.01.02.001,Avanza,2011-01-31,65000000,11,1.0,1.0,0
16,02.01.01.02.001,Avanza,2011-01-31,55000000,11,1.0,1.0,0
17,02.01.01.02.002,Avanza,2008-01-01,108000000,14,1.0,1.0,0
18,02.01.01.02.002,Avanza,2008-01-02,98000000,14,1.0,1.0,0
19,02.01.01.02.002,Avanza,2008-01-03,88000000,14,1.0,1.0,0
20,02.01.01.02.002,Avanza,2008-01-04,78000000,14,1.0,1.0,0
21,02.01.01.02.002,Avanza,2008-01-05,68000000,14,1.0,1.0,0
22,02.01.01.02.002,Avanza,2008-01-06,58000000,14,1.0,1.0,0
23,02.01.01.02.003,AVANZA 225,2015-08-01,0,7,1.0,3.0,2
24,02.01.01.02.003,AVANZA 225,2015-08-01,0,7,1.0,3.0,2
25,02.01.01.02.003,AVANZA 225,2015-08-01,0,7,1.0,3.0,2
26,02.01.04.06.001,Futura Box,1970-01-01,95000000,52,2.0,1.0,1
27,02.01.04.06.001,Futura Box,1970-01-01,90000000,52,2.0,1.0,1
28,02.01.04.06.001,Futura Box,1970-01-01,85000000,52,2.0,1.0,1
29,02.01.04.06.001,Futura Box,1970-01-01,80000000,52,2.0,1.0,1
30,02.01.04.06.001,Futura Box,1970-01-01,75000000,52,2.0,1.0,1
31,02.01.04.06.001,Futura Box,1970-01-01,70000000,52,2.0,1.0,1
32,02.02.01.04.001,Supra X 125,1970-01-01,8600000,52,2.0,1.0,1
33,02.02.01.04.001,Supra X 125,1970-01-01,7600000,52,2.0,1.0,1
34,02.02.01.04.001,Supra X 125,1970-01-01,6600000,52,2.0,1.0,1
35,02.02.01.04.001,Supra X 125,1970-01-01,5600000,52,2.0,1.0,1
36,02.02.01.04.001,Supra X 125,1970-01-01,4600000,52,2.0,1.0,1
37,02.02.01.04.006,Supra X 125,1970-01-01,3600000,52,2.0,1.0,1
38,02.02.01.05.001,Revo,2011-08-13,5200000,11,1.0,1.0,0
39,02.02.01.05.001,Revo,2011-08-13,5020000,11,1.0,1.0,0
40,02.02.01.05.001,Revo,2011-08-13,4840000,11,1.0,1.0,0
41,02.02.01.05.001,Revo,2011-08-13,4660000,11,1.0,1.0,0
42,02.02.01.05.001,Revo,2011-08-13,4480000,11,1.0,1.0,0
43,02.02.01.05.001,Revo,2011-08-13,4300000,11,1.0,1.0,0
44,02.02.01.06.001,Astrea Prima,2007-01-01,3000000,15,1.0,1.0,0
45,02.02.01.06.001,Astrea Prima,2007-01-01,3000000,15,1.0,1.0,0
46,02.02.01.06.001,Astrea Prima,2007-01-01,3000000,15,1.0,1.0,0
47,02.02.01.06.001,Astrea Prima,2007-01-01,3000000,15,1.0,1.0,0
48,02.02.01.06.001,Astrea Prima,2007-01-01,3000000,15,1.0,1.0,0
49,02.02.01.06.001,Astrea Prima,2007-01-01,3000000,15,1.0,1.0,0